{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
<ul>
{% for error in errors %}
    <li>{{ error }}</li>
{% endfor %}
</ul>

 {{ form_start(form) }}
  {{ form_row(form.csv) }}
  <br><br>
 {{ form_end(form) }}
{% endblock %}
