{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
<ul>
{% for error in errors %}
    <li>{{ error }}</li>
{% endfor %}
</ul>

 {{ form_start(form) }}
   <p><b>Veuillez taper deux fois votre nouveau mot de passe.</b></p>
   {{ form_row(form.plainPassword) }}
   <br><br>
 {{ form_end(form) }}
{% endblock %}
