<h3>Bonjour {{ name }},</h3>

<p>Un administrateur a créé un compte pour vous sur le site : {{ host }}</p>

<h3>Pour vous connecter :</h3>

<p>Rendez-vous sur : {{ host }}/login</p>
<p>Utiliser votre identifiant : {{ name }}</p>
<p>et votre mot de passe : {{ password }}</p>