<h3>Bonjour {{ name }},</h3>

<p>Vous êtes bien enregistré sur le site !</p>

<p>Informations vous concernant :<br>
- Identifiant : {{ name }}<br>
- Mail : {{ mail }}<br>
- Mot de passe : Vous êtes le seul à le connaître</p>